<div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>PHP 5.6-8.1, Laminas, Symfony, Laravel, Docker, Nginx, RabbitMQ, Redis, Gitlab, MySQL, PHPStorm, GIT</p>

<div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Linux, Javascript, Elastic, Grafana, CI/CD Pipelines</p>

<div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>React, Sass, Less, Gulp, Webpack</p>

<div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Java, Python, C#, Go, C</p>
